@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
  padding: 0;
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  font-family: Mulish;
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

.active {
  position: relative;
  color: rgb(255, 255, 255);
  overflow: hidden;
  transition: .3s;
}
.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  /* border-radius: 50%; */
  background: #fffefe;
}

.Debts {
  margin-top: 120px;
}
.debt__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.debt__box__title {
  font-family: "Mulish";
  font-size: 2em;
}
.btn-modal {
  margin: 20px 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: auto;
  background: #b8b8b8;
  height: auto;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-modal:hover {
  background: #4fb000;
  color: #fff;
}
.cards {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Transactions {
  margin-top: 120px;
}